In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# patching
import sys
from pathlib import Path
sys.path.insert(0, str(Path.cwd().parent))


from utils.utils import fill_empty_temperatures

In [2]:
data_dir = Path(".").resolve().parent.parent / "data"

In [3]:
data_dir

PosixPath('/home/mfitsek@wooppay.kz/PycharmProjects/dissertation/data')

In [4]:
df_46_raw = pd.read_csv(data_dir / "sensors_characteristics" / "46П_raw.csv")

In [5]:
df_46_raw.head(10)

   temp  value
0  -200   7.95
1  -190   9.96
2  -180  11.95
3  -170  13.93
4  -160  15.90
5  -150  17.85
6  -140  19.79
7  -130  21.72
8  -120  23.63
9  -110  25.54

In [6]:
df_46 = fill_empty_temperatures(df_46_raw, "temp", "value")

In [7]:
df_46.head(11)

    temp  value
0   -200   7.95
1   -199   8.15
2   -198   8.35
3   -197   8.55
4   -196   8.75
5   -195   8.96
6   -194   9.16
7   -193   9.36
8   -192   9.56
9   -191   9.76
10  -190   9.96

In [8]:
df_46.to_csv(data_dir / "sensors_characteristics" / "46П.csv", index=False)

In [9]:
df_53_raw = pd.read_csv(data_dir / "sensors_characteristics" / "53М_raw.csv")

In [10]:
df_53_raw.head(10)

   temp  value
0   -50  41.71
1   -45  42.84
2   -40  43.97
3   -35  45.10
4   -30  46.23
5   -25  47.36
6   -20  48.48
7   -15  49.61
8   -10  50.74
9    -5  51.87

In [11]:
df_53 = fill_empty_temperatures(df_53_raw, "temp", "value")

In [12]:
df_53.head(11)

    temp  value
0    -50  41.71
1    -49  41.94
2    -48  42.16
3    -47  42.39
4    -46  42.61
5    -45  42.84
6    -44  43.07
7    -43  43.29
8    -42  43.52
9    -41  43.74
10   -40  43.97

In [13]:
df_53.to_csv(data_dir / "sensors_characteristics" / "53М.csv", index=False)

In [14]:
df_53_raw['value']

0     41.71
1     42.84
2     43.97
3     45.10
4     46.23
5     47.36
6     48.48
7     49.61
8     50.74
9     51.87
10    53.00
11    54.13
12    55.26
13    56.39
14    57.52
15    58.65
16    59.77
17    60.90
18    62.03
19    63.16
20    64.29
21    65.42
22    66.55
23    67.68
24    68.81
25    69.93
26    71.06
27    72.19
28    73.32
29    74.45
30    75.58
31    76.71
32    77.84
33    78.97
34    80.09
35    81.22
36    82.35
37    83.48
38    84.61
39    85.74
40    86.87
41    88.00
42    89.13
43    90.25
44    91.38
45    92.51
46    93.64
Name: value, dtype: float64